* {
  font-family: "Varela Round", sans-serif;
  font-size: 10px;
}

div {
  border: 1px solid black;
  margin: 5px;
}

#controles {
  display: flex;
  justify-content: space-around;
}

.control {
  box-shadow: 3px 3px 2px rgb(44, 3, 3);
  border-radius: 5px;
  font-size: 1.2rem;
}

.desplegable {
  min-width: 10rem;
  background-color: rgb(216, 76, 76);
  color: rgb(219, 219, 124);
}

.boton {
  border: none;
  padding: 10px;
  background-color: rgb(226, 51, 51);
  color: rgb(219, 219, 124);
}

.mensajes {
  position: absolute;
  background-color: rgb(104, 31, 31);
  color: rgb(172, 172, 69);
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 5px 5px 2px rgb(44, 3, 3);
  border-radius: 10px;
}

#avisos {
  left: 20%;
  top: 15%;
  width: 50%;
  min-height: 15vh;
  padding-top: 4rem;
  display: block;
}

#detalle {
  left: 30%;
  top: 30%;
  width: 30%;
  min-height: 15vh;
  padding-top: 4rem;
  display: block;
}

.panel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.provincia {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 3px grey;
  height: 15vh;
}

.provincia-color {
  background-color: rgb(238, 42, 81);
}

.provincia-nombre {
  font-size: 2rem;
  color: rgb(207, 199, 181);
  border: none;
}

.provincia-comunidad {
  font-size: 1.6rem;
  color: rgb(168, 166, 159);
  border: none;
}

.ver-detalle {
  border-radius: 3px;
  box-shadow: 5px 5px 3px rgb(41, 40, 40);
  margin-bottom: 5px;
}

.detalle-provincia {
  font-size: 2rem;
  color: rgb(207, 199, 181);
  border: none;
}

.detalle-data {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: none;
}

.detalle-data-item {
  font-size: 2rem;
  color: rgb(207, 199, 181);
  border: none;
}

.detalle-comunidad {
  grid-column: 1/3;
  font-size: 2rem;
}

.detalle-num {
  font-size: 1.5rem;
}

.detalle-boton {
  border-radius: 5px;
  background-color: rgb(226, 51, 51);
  box-shadow: 5px 5px 3px rgb(216, 211, 211);
  max-width: fit-content;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.4rem;
  margin: 15px auto 5px auto;
}
