.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 2fr;
    height: 25rem;
    gap: 0.5rem;
}

.gray {
    background-color: gray;
}

.orange {
    background-color: orange;
    color: black;
}