.tablerodibujo {
    border-collapse: collapse; 
}
.tablerodibujo td {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc; 
    margin: 0;
    padding: 0;
}
.color1 {
	background-color: #FF0;
}
.color2 {
	background-color: #0F0;
}
.color3 {
	background-color: #000;
}
.color4 {
	background-color: #F00;
}
.color5 {
	background-color: #06C;
}
.color6 {
	background-color: #FFF;
}

#paleta td{
	width: 35px;
	height: 20px;
}

#pincel{
	text-align: center;
}

#claves {
	visibility: visible;
}

#controles {
	visibility: hidden;
}
